# Dependency directories
node_modules/

# Build output
/dist/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
.DS_Store
Thumbs.db