# Ignore node_modules directory
node_modules/

# Ignore environment-specific files


# Ignore log files
*.log

# Ignore build artifacts
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore package-lock.json for npm
package-lock.json


# Ignore yarn.lock for Yarn
yarn.lock

# Ignore any other files or directories you want to exclude